*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.landingpage{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.logo_part{
    width: 100%;
    height: 12%;
    background-color: whitesmoke;
}

.logo{
    width: 23%;
    height: 100%;
    background-image: url('../../public/amaslogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    margin-left: 70px;
}

.hero_section{
    width: 100%;
    height: 85%;
    /* background-color: yellow; */
    display: flex;
    padding: 0px 20px 0px 20px;
}

.hero_image{
    width: 50%;
    height: 100%;
    background-image: url('../../public/amaslink.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero_text{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



@media screen and (max-width: 600px){


    .hero_section{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
        flex-direction: column;
        padding: none !important;
    }

    .hero_image{
        width: 100%;
        height: 60%;
    }

    .hero_text{
        width: 100%;
        height: 30%;
    }

    .logo_part{
        height: 10%;
    }

    .logo{
        width: 60%;
    }
}



@media screen and (max-width: 492px){


    .hero_section{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
        flex-direction: column;
        padding: none !important;
    }

    .hero_image{
        width: 100%;
        height: 60%;
    }

    .hero_text{
        width: 100%;
        height: 30%;
    }

    .logo_part{
        height: 10%;
    }

    .logo{
        width: 80%;
    }
    .hero_image{
        background-size: contain;
    }
}